.hero-banner {
    background-image: url('../css/images/header-background.jpg');
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
  }
.border-left {
  border-left: 2px solid #92ccce; /* Adjust the color as needed */
  padding-left: 15px; /* Add padding for better visual appearance */
}
.profile-pic {
  width: 150px; /* Adjust the width as needed */
  margin-top: 20px; /* Adjust the margin-top to move it down */
}
.header-text{
  color: white;
}
.smaller-image {
  max-width: 100%; /* Set a maximum width for responsiveness */
  height: auto; /* Maintain aspect ratio */
  max-height: 150px; /* Set a maximum height as needed */
}

h1 {
  font-size: 18px;
}

.height-fix {
  height: 108% !important;
}
.contact-section
{
  text-align: center;
}
.myimage{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}
.imgdiv {
  overflow:hidden;
  height: 225px;

}
.large-screen{
  text-align: end;
}
@media (max-width: 766px) {
  .border-left {
    border-left: none;
    padding-left: 0;
  }

  /* Add a border under the Professional Summary column */
  .responsive {
    border-bottom: 2px solid #92ccce;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: left;
  }

  .responsive-center {
    align-items: center;
    display: contents;
  }
  h1 {
    font-size: x-large;
  }
  .contact-section {

    text-align: justify;
  }

}
